
# Ignore Gradle build output directory
build/

# Ignore Gradle project-specific cache directory
.gradle

# Except for build/libs
build/libs/

# Ignore Maven project-specific cache directory
.fake

# K8s playground
k8s/

# Ignore Gradle files
gradle.properties

# Ignore bin directory
desktop-ui/bin/

# Other common ignores
*.class
*.log
*.tmp
*.swp
*.DS_Store
target/
./build/
out/
.gradle/
.idea/
.vscode/
node_modules/
dist/
coverage/
bin/