# Ignore Gradle project-specific cache directory
.gradle



# Ignore Gradle build output directory
build/

# Except for build/libs
!build/libs/
!app/build/libs/

# Ignore Maven project-specific cache directory
.fake

# Ignore application.properties file
application-dev.properties
application-prod.properties