# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Except for build/libs
!build/libs/
!app/build/libs/

# Ignore Maven project-specific cache directory
.fake

# Ignore Gradle files
gradle.properties

# Ignore bin directory
app/bin/

# Other common ignores
*.class
*.log
*.tmp
*.swp
*.DS_Store
target/
build/
out/
.gradle/
.idea/
.vscode/
node_modules/
dist/
coverage/